<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shortcut</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>key</key>
			<string>ShortcutEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>key</key>
			<string>ShortcutNoUseEditMode</string>
			<key>label</key>
			<string>No use edit mode</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App Switcher</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>key</key>
			<string>ScreenEdgeEnabled</string>
			<key>label</key>
			<string>Enable screen edge</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>key</key>
			<string>ScreenEdgeDisableOnKeyboard</string>
			<key>label</key>
			<string>Disable on keyboard</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>key</key>
			<string>SwitcherAutoFlipping</string>
			<key>label</key>
			<string>Auto flipping</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ScreenEdgeLeftInt</string>
			<key>label</key>
			<string>Left</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
			<key>validTitles</key>
			<array>
				<string>Enable with long press</string>
				<string>Enable without long press</string>
				<string>Disable</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>shortTitles</key>
			<array>
				<string>On+LP</string>
				<string>On-LP</string>
				<string>Off</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ScreenEdgeRightInt</string>
			<key>label</key>
			<string>Right</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
			<key>validTitles</key>
			<array>
				<string>Enable with long press</string>
				<string>Enable without long press</string>
				<string>Disable</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>shortTitles</key>
			<array>
				<string>On+LP</string>
				<string>On-LP</string>
				<string>Off</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ScreenEdgeTopInt</string>
			<key>label</key>
			<string>Top</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
			<key>validTitles</key>
			<array>
				<string>Enable with long press</string>
				<string>Enable without long press</string>
				<string>Disable</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>shortTitles</key>
			<array>
				<string>On+LP</string>
				<string>On-LP</string>
				<string>Off</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ScreenEdgeBottomInt</string>
			<key>label</key>
			<string>Bottom</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
			<key>validTitles</key>
			<array>
				<string>Enable with long press</string>
				<string>Enable without long press</string>
				<string>Disable</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>shortTitles</key>
			<array>
				<string>On+LP</string>
				<string>On-LP</string>
				<string>Off</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Haptic</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>key</key>
			<string>UseHaptic</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>key</key>
			<string>ForcedHapticMode</string>
			<key>label</key>
			<string>Ignore system option</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>40</integer>
			<key>min</key>
			<integer>20</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<false/>
			<key>key</key>
			<string>HapticVibLength</string>
			<key>label</key>
			<string>Vibration length</string>
			<key>defaults</key>
			<string>me.devbug.SB3DTouchMenu</string>
			<key>PostNotification</key>
			<string>me.devbug.SB3DTouchMenu.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SB3DTouchMenu © 2015 deVbug</string>
		</dict>
	</array>
	<key>title</key>
	<string>SB3DTouchMenu</string>
</dict>
</plist>
